
__pycache__/prototxt.cpython-36.pyc
__pycache__/LRN.cpython-36.pyc
__pycache__/detection.cpython-36.pyc
__pycache__/caffenet.cpython-36.pyc
.idea/vcs.xml
.idea/pytorch-caffe.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/deployment.xml
